<div id="container" class="container_12">
  <div class="grid_12">
    <div class="grid_6 alpha">
      <div class="round_box topmost">
        <span class="current_category">Albums</span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="albums grid_6"></div>
</div>