<div id="controls">
  <ul class="button">
    <li class="button">
      <a id="prev" class="button" href="#"><span>&lt;&lt;</span></a>
    </li>
    <li class="button">
      <a id="play" class="button" href="#"><span>play</span></a>
    </li>
    <li class="button">
      <a id="next" class="button" href="#"><span>&gt;&gt;</span></a>
    </li>
    <li class="button">
      <div id="loaded"></div>
    </li>
  </ul>
</div>
<div id="songlist"></div>
<div id="player_container">
  <audio id="player" autobuffer="autobuffer" autoplay="false" />
</div>
<div class="clear"></div>